h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 85vh;
    background-color: #3b3b3b;
    border-radius: 24px;
    margin: auto;
}

.display{
    height: 20vh;
    width: 95%;
    background-color: #b4b4b479;
    border-radius: 24px;
    /* margin-top: 20px; */
}

.buttons{
    height: 60vh;
    width: 95%;
    background-color: #b4b4b479;
    border-radius: 24px;
    margin-top: 16px;

}